<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
    <!-- 
    Learn more about Application Insights configuration with ApplicationInsights.config here: 
    http://go.microsoft.com/fwlink/?LinkID=513840
  -->
    <InstrumentationKey>11b804ab-2096-42fc-a62c-e89902d0cc42</InstrumentationKey>
</ApplicationInsights>
